<!--<p>vehicle-accident-view works!</p>-->
<!--<table class="table table-striped" style="margin-top: 40px">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">Accident Date</th>-->
<!--    <th scope="col">Accident Time</th>-->
<!--    <th scope="col" width="10%">Insurance No</th>-->
<!--    <th scope="col" width="10%">Insurance Status</th>-->
<!--    <th scope="col" width="5%" style="text-align: center">View</th>-->
<!--    <th scope="col" width="5%" style="text-align: center">Update</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let vehicleAccident of vehicleAccidentDetails; let i = index">-->
<!--    <th scope="row">{{i+1}}</th>-->
<!--    <td>{{vehicleAccident.companyName}}</td>-->
<!--    <td>{{vehicleAccident.address}}</td>-->
<!--    <td>{{vehicleAccident.contactNumber}}</td>-->
<!--    <td>{{vehicleAccident.deliveryDate}}</td>-->
<!--    <td>{{vehicleAccident.deliveryTime}}</td>-->
<!--    <td style="text-align: center">-->
<!--      <i class="fas fa-search" style="cursor: pointer" (click)="setItem(vehicleAccident)"></i>-->
<!--    </td>-->
<!--    <td style="text-align: center">-->
<!--      <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(deliveryItem)"></i>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->



