<div class="row">
  <div class="col-12">

  </div>
</div>

<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 20px">
    <label>User Account List</label>


    <table class="table table-striped" style="margin-top: 40px">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Type</th>
        <th scope="col" width="10%">Name</th>
        <th scope="col" width="10%">NIC</th>
        <th scope="col" width="5%" style="text-align: center">View</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userAccount of userAccountDetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{userAccount.employeeID}}</td>
        <td>{{userAccount.accountType}}</td>
        <td>{{userAccount.nic}}</td>
        <td>{{userAccount.name}}</td>
        <td>{{userAccount.dob}}</td>
        <td>{{userAccount.address}}</td>
        <td>{{userAccount.contactNo}}</td>
        <td>{{userAccount.email}}</td>
        <td>{{userAccount.registeredDate}}</td>
        <td>{{userAccount.nameWithInitials}}</td>

        <td style="text-align: center">
          <i class="fas fa-search" style="cursor: pointer" (click)="setUserAccount(userAccount)"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(deliveryItem)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">
  <div (click)="isTrueOrFalse(false)"></div>
  <div style="">
    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">
      <div style="min-width: 1390px;">
        <i class="fas fa-times" style="cursor: pointer;margin-right: 10px" (click)="isTrueOrFalse(false)"></i>
      </div>

      <div class="">

        <div>
          <span style="font-weight: bold">Employee ID : </span>
          <span style="margin-left: 10px">{{userAccount.employeeID}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Type : </span>
          <span style="margin-left: 10px">{{userAccount.accountType}}</span>
        </div>
        <div>
          <span style="font-weight: bold"> NIC : </span>
          <span style="margin-left: 10px">{{userAccount.nic}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Name : </span>
          <span style="margin-left: 10px">{{userAccount.name}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Date of Birth : </span>
          <span style="margin-left: 10px">{{userAccount.dob}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Address : </span>
          <span style="margin-left: 10px">{{userAccount.address}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Contact Number : </span>
          <span style="margin-left: 10px">{{userAccount.contactNo}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Email : </span>
          <span style="margin-left: 10px">{{userAccount.email}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Registered Date : </span>
          <span style="margin-left: 10px">{{userAccount.registeredDate}}</span>
        </div>
        <div>
          <span style="font-weight: bold">Name With Initials: </span>
          <span style="margin-left: 10px">{{userAccount.nameWithInitials}}</span>
        </div>


        <table class="table table-striped" style="margin-top: 20px">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Type</th>
            <th scope="col">NIC</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Email</th>
            <th scope="col">Registered Date</th>
            <th scope="col">Name With Initials</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userAccount.userAccountDetails; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.employeeID}}</td>
            <td>{{user.accountType}}</td>
            <td>{{user.name}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.address}}</td>
            <td>{{user.contactNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.registeredDate}}</td>
            <td>{{user.nameWithInitialsa}}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>




