<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/shift"
    (click)="setTopic('Driver Shift')"
    #shift="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':shift.isActive?'#c0050e':''}">
    Driver Shift
  </div>

  <div
    style="border: 0px;padding: 0px"
    routerLink="/main/update_shift"
    #updateShift="routerLinkActive"
    routerLinkActive>
  </div>

  <div
    routerLink="/main/view_shifts"
    (click)="setTopic('View Driver Shifts')"
    #viewDriverShifts="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':viewDriverShifts.isActive || updateShift.isActive?'#c0050e':''}">
    View Driver Shifts
  </div>


  <div
    routerLink="/main/bookings"
    (click)="setTopic('Bookings')"
    #bookings="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':bookings.isActive?'#c0050e':''}">
    Bookings
  </div>

  <div
    style="border: 0px;padding: 0px"
    routerLink="/main/update_bookings"
    #updateBookings="routerLinkActive"
    routerLinkActive>
  </div>

  <div
    routerLink="/main/view_bookings"
    (click)="setTopic('View Bookings')"
    #viewBookings="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':viewBookings.isActive || updateBookings.isActive?'#c0050e':''}">
    View Bookings
  </div>

</div>
