<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 40px">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Delivery Person Name</th>
        <th scope="col">Delivery Person Nic</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Delivery Time</th>
        <th scope="col" width="5%" style="text-align: center">View</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deliveryItem of deliveryItemDetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{deliveryItem.deliveryPersonName}}</td>
        <td>{{deliveryItem.deliveryPersonNic}}</td>
        <td>{{deliveryItem.contactNumber}}</td>
        <td>{{deliveryItem.deliveryDate}}</td>
        <td>{{deliveryItem.deliveryTime}}</td>
        <td style="text-align: center">
          <i class="fas fa-search" style="cursor: pointer" (click)="setItem(deliveryItem)"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(deliveryItem)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">
  <div (click)="isTrueOrFalse(false)"></div>
  <div style="">
    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">
      <div style="min-width: 1390px;">
        <i class="fas fa-times" style="cursor: pointer;margin-right: 10px" (click)="isTrueOrFalse(false)"></i>
      </div>

      <div class="">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Type</th>
            <th scope="col">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of deliveryItem.deliveryItemDetails; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.itemName}}</td>
            <td>{{item.itemType}}</td>
            <td>{{item.itemQty}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
