<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 40px">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">account Type</th>
        <th scope="col">NIC</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Address</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <th scope="col">Registered Date</th>
        <th scope="col">Name With Initials</th>
        <th scope="col">License ID</th>
        <th scope="col">Password</th>
        <th scope="col" width="5%" style="text-align: center">View</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
        <th scope="col" width="5%" style="text-align: center">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let driverDetails of driverDetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{driverDetails.employeeID}}</td>
        <td>{{driverDetails.name}}</td>
        <td>{{driverDetails.accountType}}</td>
        <td>{{driverDetails.nic}}</td>
        <td>{{driverDetails.dob}}</td>
        <td>{{driverDetails.address}}</td>
        <td>{{driverDetails.contactNo}}</td>
        <td>{{driverDetails.email}}</td>
        <td>{{driverDetails.registeredDate}}</td>
        <td>{{driverDetails.nameWithInitials}}</td>
        <td>{{driverDetails.lisenseID}}</td>
        <td>{{driverDetails.password}}</td>

        <td style="text-align: center">
          <i class="fas fa-search" style="cursor: pointer" (click)="setDriver(driverDetails)"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="updateDriver(driverDetails)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

