<div class="row">
  <div class="col-12">

  </div>
</div>

<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 20px">

    <span style="font-weight: bold">Search by :</span>
    <span style="margin-left: 20px">Deliveries for</span>
    <input type="date" style="margin-left: 20px;height: 37px" [(ngModel)]="deliveryDate">
    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllDeliveriesByDate()">
      Search
    </button><br><br>

    <span style="font-weight: bold">Search by company : </span>
    <input type="text" style="margin-left: 10px;width: 210px;height: 37px" [(ngModel)]="companyName">
    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllDeliveriesByCompany()">
      Search
    </button>

    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllItemDeliveries()">
      All deliveries
    </button>

    <table class="table table-striped" style="margin-top: 40px">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company</th>
        <th scope="col">Address</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Delivery Time</th>
        <th scope="col">Delivery Person</th>
        <th scope="col">Delivery Person's NIC</th>
        <th scope="col">Delivery Status</th>
        <th scope="col" width="5%" style="text-align: center">View</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deliveryItem of deliveryItemDetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{deliveryItem.companyName}}</td>
        <td>{{deliveryItem.address}}</td>
        <td>{{deliveryItem.deliveryDate}}</td>
        <td>{{deliveryItem.deliveryTime}}</td>
        <td>{{deliveryItem.deliveryPersonName}}</td>
        <td>{{deliveryItem.deliveryPersonNic}}</td>
        <td>{{deliveryItem.deliveryStatus}}</td>
        <td style="text-align: center">
          <i class="fas fa-search" style="cursor: pointer" (click)="setItem(deliveryItem)"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(deliveryItem)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
