<div class="row">
  <div id="navHeader" class="col-12">
    <div class="row" style="padding: 10px;">
      <div class="col-8" style="display: flex">
        <img src="../../assets/itn.png" width="100">
        <div style="margin-top: 20px">
          <span style="font-weight: bold;font-size: 20px;margin-left: 20px;color: #e0ddd8">
          Independent Television Network
          <span style="font-weight: normal;border: 2px solid #e0ddd8;padding: 10px 20px;border-radius: 20px;margin-left: 20px">
            Fleet Management System
          </span>
        </span>
        </div>
      </div>
      <div class="col-4" style="display: flex;justify-content: flex-end">
        <div id="btnLogin" onclick="location.href='html/login/login.html'" style="margin-top: 8px">
          <div class="alignLeft"
               style="padding-right: 5px;padding-top: 5px;font-weight: bold;color: #794903;font-size: 18px">
            I.S.I.S Sumanapala |
          </div>
          <div class="alignLeft"
               style="padding-top: 5px;padding-right: 10px;font-weight: bold;color: #794903;font-size: 18px"
               onclick="location.href='../../index.html'">
            Logout
          </div>
          <div class="alignLeft" style="margin-left: 20px">
            <!--<img src="../../assets/user.png" width="50">-->
            <i class="far fa-user" style="font-size: 60px;color: #995d04"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
