<div class="row" style="display: flex;justify-content: center;margin-left: 1px;margin-right: 1px">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Add Item Delivery</span>
  </div>

  <form #deliveryForm="ngForm" (ngSubmit)="deliveryForm.form.valid && onSubmit()" novalidate>

    <div style="display: flex;margin-top: 50px">
      <div style="width: 50%">
        <div class="row">
          <div class="col-4">
            Delivery Person Name :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryPersonName"
                   #deliveryPersonName="ngModel"
                   name="deliveryPersonName" required>
            <div *ngIf="(deliveryPersonName.touched || deliveryForm.submitted) && deliveryPersonName.errors?.required"
                 class="validErr">
              Delivery Person Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Person Nic :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryPersonNic"
                   #deliveryPersonNic="ngModel"
                   name="deliveryPersonNic" required>
            <div *ngIf="(deliveryPersonNic.touched || deliveryForm.submitted) && deliveryPersonNic.errors?.required"
                 class="validErr">
              Delivery Person Nic is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Contact Number :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.contactNumber"
                   #contactNumber="ngModel"
                   name="contactNumber" required>
            <div *ngIf="(contactNumber.touched || deliveryForm.submitted) && contactNumber.errors?.required"
                 class="validErr">
              Contact Number is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Place From :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.placeFrom"
                   #placeFrom="ngModel"
                   name="placeFrom" required>
            <div *ngIf="(placeFrom.touched || deliveryForm.submitted) && placeFrom.errors?.required"
                 class="validErr">
              Place From is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Company Name :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.companyName"
                   #companyName="ngModel"
                   name="companyName" required>
            <div *ngIf="(companyName.touched || deliveryForm.submitted) && companyName.errors?.required"
                 class="validErr">
              Company Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Date :
          </div>
          <div class="col-8">
            <input type="date" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryDate"
                   #deliveryDate="ngModel"
                   name="deliveryDate" required>
            <div *ngIf="(deliveryDate.touched || deliveryForm.submitted) && deliveryDate.errors?.required"
                 class="validErr">
              Delivery Date is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Time :
          </div>
          <div class="col-8">
            <input type="time" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryTime"
                   #deliveryTime="ngModel"
                   name="deliveryTime" required>
            <div *ngIf="(deliveryTime.touched || deliveryForm.submitted) && deliveryTime.errors?.required"
                 class="validErr">
              Delivery Time is required
            </div>
          </div>
        </div>
      </div>

      <div style="width: 50%;padding-left: 20px;">
        <div class="row">
          <div class="col-3">
            Item Name :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryTime"
                   #deliveryTime="ngModel"
                   name="deliveryTime" required>
            <div *ngIf="(deliveryTime.touched || deliveryForm.submitted) && deliveryTime.errors?.required"
                 class="validErr">
              Delivery Time is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Item Type :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryTime"
                   #deliveryTime="ngModel"
                   name="deliveryTime" required>
            <div *ngIf="(deliveryTime.touched || deliveryForm.submitted) && deliveryTime.errors?.required"
                 class="validErr">
              Delivery Time is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Item Qty :
          </div>
          <div class="col-9">
            <input type="number" class="form-control"
                   [(ngModel)]="deliveryDetails.deliveryTime"
                   #deliveryTime="ngModel"
                   name="deliveryTime" required>
            <div *ngIf="(deliveryTime.touched || deliveryForm.submitted) && deliveryTime.errors?.required"
                 class="validErr">
              Delivery Time is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-12" style="text-align: center">
            <button class="btn btn-warning" style="font-weight: bold">Add Item</button>
          </div>
        </div>

      </div>
    </div>

    <div style="border-top: 1px solid #a0a0a0;display: flex;margin-top: 20px;padding-top: 20px">

      <div style="width: 100%">

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" width="3%">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Type</th>
            <th scope="col" width="6%">Quantity</th>
            <th scope="col" width="5%" style="text-align: center">Update</th>
            <th scope="col" width="5%" style="text-align: center">Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td style="text-align: center">
              <i class="fas fa-search"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row"
         style="border-top: 1px solid #a0a0a0;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
      <div class="col-12" style="text-align: right">
        <button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Add Delivery</button>
      </div>
    </div>
  </form>
</div>
