<div class="row">
  <div class="col-12">

  </div>
</div>

<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 20px">

    <div style="margin-top: 20px">
      <span style="font-weight: bold;margin-left: 0px">Search by driver ID: </span>
      <input type="text" style="margin-left: 20px;width: 300px;height: 37px" [(ngModel)]="driverId">
      <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllShiftsByDriver()">
        Search
      </button>
    </div>
    <div style="margin-top: 20px">
      <span style="font-weight: bold;margin-left: 0px">Search by vehicle type: </span>
      <input type="text" style="margin-left: 20px;width: 300px;height: 37px" [(ngModel)]="vehicleType">
      <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllShiftsByVehicle()">
        Search
      </button>

      <button class="btn btn-warning" style="font-weight: bold;margin-left: 60px" (click)="getAllShifts()">
        All Driver Shifts
      </button>
    </div>

    <table class="table table-striped" style="margin-top: 40px">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Shift ID</th>
        <th scope="col">Driver ID</th>
        <th scope="col">Driver</th>
        <th scope="col" width="10%">Vehicle No</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Shift Date</th>
        <th scope="col" width="15%">Starting Time</th>
        <th scope="col" width="15%">Ending Time</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let shift of shifts; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{shift.shiftId}}</td>
        <td>{{shift.driverVehicle.driver.driverID}}</td>
        <td>{{shift.driverVehicle.driver.userAccount.nameWithInitials}}</td>
        <td>{{shift.driverVehicle.vehicle.vehicleId}}</td>
        <td>{{shift.driverVehicle.vehicle.vehicleType}}</td>
        <td>{{shift.shiftDate}}</td>
        <td>{{shift.startingTime}}</td>
        <td>{{shift.endingTime}}</td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(shift)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
