<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/available_transports"
    (click)="setTopic('Available Transports')"
    #availableTransports="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':availableTransports.isActive?'#c0050e':''}">
    Available Transports
  </div>

  <div
    routerLink="/main/create_new_request"
    (click)="setTopic('Create New Request')"
    #createNewRequest="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':createNewRequest.isActive?'#c0050e':''}">
    Create New Request
  </div>

  <div
    routerLink="/main/application_status"
    (click)="setTopic('Application Status')"
    #applicationStatus="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':applicationStatus.isActive?'#c0050e':''}">
    Application Status
  </div>

  <div
    routerLink="/main/notifications"
    (click)="setTopic('Notifications')"
    #notifications="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':notifications.isActive?'#c0050e':''}">
    Notifications
  </div>

  <div
    routerLink="/main/feedback"
    (click)="setTopic('Feedback')"
    #feedback="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':feedback.isActive?'#c0050e':''}">
    Feedback
  </div>
  <!--<div style="color: #b56e04">Vehicle</div>-->
  <!--<div>Driver</div>-->
</div>
