<div class="row">
  <div class="col-12">

  </div>
</div>

<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 20px">

    <span style="font-weight: bold;margin-left: 50px">Search by vehicle number : </span>
    <input type="text" style="margin-left: 20px;width: 300px;height: 37px" [(ngModel)]="vehicleNumber">
    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getVehicleByNumber()">
      Search
    </button>

    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllVehicles()">
      All vehicles
    </button>

    <table class="table table-striped" style="margin-top: 40px">
      <thead>
      <tr>
        <th scope="col" width="5%">#</th>
        <th scope="col" width="20%">Vehicle Number</th>
        <th scope="col" width="10%">Vehicle Type</th>
        <th scope="col" width="10%">Fuel Type</th>
        <th scope="col" width="10%">Fuel Balance</th>
        <th scope="col" width="10%" style="text-align: left">Update Fuel Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicle of vehicles; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{vehicle.vehicleId}}</td>
        <td>{{vehicle.vehicleType}}</td>
        <td>{{vehicle.fuelType}}</td>
        <td>{{vehicle.fuelBalance}}</td>
        <td>
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(vehicle) "></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
